@font-face {
    src: url('./fonts/Roboto-Regular.ttf');
    font-family: RobotoRegular;
}

@media screen and (min-width: 339px) {
    body {
        min-width: 700px;
    }
}

@media screen and (max-width: 339px){
    body {
        min-width: 300px; 
    }
}

body {
    font-family: RobotoRegular;
    margin: 0;
    padding: 0;
}

#root { 
    height: 100vh;
}