@font-face {
    src: url('./fonts/Roboto-Regular.ttf');
    font-family: RobotoRegular;
}

/* @media screen and (max-width: 768px){
    body {
        min-width: 300px; 
    }
} */

body {
    min-width: 300px;
    font-family: RobotoRegular;
    margin: 0;
    padding: 0;
}

#root { 
    height: 100vh;
}