footer { 
    font-size: 18px;
    color:white;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0067A3;
    padding: 0 20PX;
}

.finished {
    margin-left: 36px;
}

@media screen and (max-width: 768px){
    footer {
        box-sizing:border-box;
        height: 75px;
        display: flex;
        flex-direction: column;
        padding: 9px 0px;
        text-align: center;
    } 

    .tasks-switch{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .finished {
        margin-left: 20px;
    }
}