.list-item {
   
    word-wrap: break-word;
    font-size: 18px;
   
    
}
.item-name{
    width: 90%;
    display: block;
    cursor: pointer;
}

.item-name:hover{
    color: #5E6C84;
}

/* .deleteTask{
    color: #5E6C84;
    font-size: 30px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.deleteTask:hover{
    color: #0079BF;
} */
