@font-face {
    src: url('../../../public/fonts/Roboto-Regular.ttf');
    font-family: RobotoRegular;
}

.headDeskription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 22px;
    font-size: 24px;
}
.nameDescription{
    word-wrap: break-word;
    width: 90%;
}

.descriptionWindow {
    position: relative;
    border-radius: 5px;
    background-color: white;
    width: 90vw;
}

.close {
    cursor: pointer;
    font-size: 40px;
    padding: 0;
    margin: 0;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.description {
    font-family: RobotoRegular;
    box-sizing: border-box;
    position: relative;
    padding: 10px 22px;
    font-size: 18px;
    outline: none;
    border: none;
    overflow-y: auto;
    height: calc(100vh*0.6);
    width: 90vw;
    resize: none;
}

.description::-webkit-scrollbar {
    background-color: white;
    border-radius: 5px;
    width: 12px;
}

.description::-webkit-scrollbar-thumb {
    background-color: #CBCBCB;
    border-radius: 5px;
}