main {
    box-sizing:border-box;
    height: calc(100% - 110px);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #0079BF;
    overflow-y: auto;
}
main::-webkit-scrollbar {
    background-color: #699dbb;
  
    width: 12px;
}

main::-webkit-scrollbar-thumb {
    background-color: #CBCBCB;
   
}