header {
    padding: 0 20PX;
    font-size: 28px;
    color: white;
    height: 55px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0067A3;
}

.profile{
    width: 120px;
    height: 60px;
    position: absolute;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.profile-item{
    cursor: pointer;
    margin-left: 5px;
    margin-top: 7px;
    margin-bottom: 10px;
}

.profile-item:hover{
    color: #0079BF;
}

.log-in {
    display: flex;

}

.avatar {
    padding-top: 3px;
    cursor: pointer;
}

.avatar-wrap {
    background-color: white;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    text-align: center;
    margin-right: 7px;

}

.row {
    cursor: pointer;
    vertical-align: middle;
}

@media screen and (max-width: 338px) {
    header {
        background-color: #0079BF;
        justify-content: flex-end;
    }

    .app-name {
        display: none;
    }
}